<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}


        <!-- Renders a link tag (if your module requires any CSS)
             <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}
</head>
<body>
{% block header_body %}
    <div class="container-flex header-home">
        <div class="container">
            <div class="menu">
                <a href="#">Home</a>
                <a href="#">News</a>
                <a href="#">Contact</a>
                <a href="#">About us</a>
            </div>
        </div>

    </div>

{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}


    <!-- Renders app.js & a webpack runtime.js file
        <script src="/build/runtime.js"></script>
        <script src="/build/app.js"></script> -->
{% endblock %}
</body>
</html>