{% extends 'base.html.twig' %}


 {% block body %}
     <div class="container-fluid container-gray form-courses-wrapper">
         <div class="container">
             <div class="row">
                 <h1 class="w-100 p-4 text-center">Get your online course</h1>
                 <div class="w-100 p-1 text-center" >
                     <p>Millions of courses to do</p>
                </div>
             </div>
         </div>
         <div class="container">
             <div class="row">
                 <div class="col-sm">
                     <ol class="w-100 mt-5">
                         <li class="p-3 e1">Decide your <strong>course</strong></li>
                         <li class="p-3 e2">Choose when you <strong>want to start it</strong></li>
                         <li class="p-3 e3">Fill in your details to <strong> contact you </strong>
                         </li>
                     </ol>
                 </div>
                 <div class="col-sm">
                     <div class="form-wrapper">
                        "form"
                     </div>
                 </div>
             </div>
         </div>
     </div>
{% endblock %}